.input-container {
    display: flex;
    padding: 10px 10px 40px 10px;
    gap: 10px;
}
.send-btn {
    background-color: var(--btn-bg-color);
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    opacity: 0.9;
    font-size: 14px;
    cursor: pointer;
    flex-shrink: 0;
}
.send-btn:hover {
    background-color: #A78BFA;
}
.chat-input {
    padding: 12px 15px;
    min-width: 0;
    border-radius: 10px;
    outline: none;
    border: 1px solid var(--btn-bg-color);
    font-size: 15px;
    flex: 1;
}
.chat-input:focus {
    outline: 2px solid #A78BFA;
}