
.app-container {
    max-width: 750px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #161A22;
}

.welcome-message {
    text-align: center;
    color: #ccc;
    opacity: 0.9;
}
